<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Iron World - Процессоры</title>
    <link rel="icon" type="image/svg+xml" href="pict/video_card.svg">
    <link rel="icon" href="pict/video_card.ico" sizes="any">
    <link rel="icon" type="image/png" href="pict/video_card.png">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
 </head>
 <body id="Topic1">
    <div class="feedback">
        <div>
            <a href="#Topic1">
                <img src="pict/circle-arrow-up-svgrepo-com.svg">

            </a>
        </div>
    </div>
    <header th:replace = "~{header :: header}"></header>
    <aside class="panel">
        <li th:replace = "~{navigation :: navigation}"></li>
    </aside>
    <main class="gallery-transform">
        <article> 
            <section>
                <div class="cart-shop">
                    <div class="panel-min-800 panel">
                        <li th:replace = "~{navigation :: navigation}"></li>
                    </div>
                    <div class="relat-img-cart">
                        <h1 th:text="${orderError}"></h1>
                        <div class="cart-img-block">
                            <a href="storage">
                                <img id="cartImage"   src="pict/cart-shopping.svg">
                                <p class="cartCostOnMain" th:text="${orderCostUnderBin}"></p>
                                <p class="relat-img-cart-total-objects" th:unless="${orderListAmount == 0}" th:text="${orderListAmount}"></p>


                            </a>
                        </div>

                        <div id="storage" class="storage" style="display: none;">
                            <p class="cartCostOnMain" th:text="${orderCostUnderBin}"></p>
                            <div class="cart"></div>  
                        </div>
                    </div>
                </div>
            </section>
            <section class="gallery-flex">
                <div class="img-container" th:each="component : ${components}">
                    <img class="product-img" th:src="@{'pict/' + ${component.category} + '/' + ${component.id} + '.png'}" alt="">
                    <div class="caption">
                        <h1 class="product-name" th:text="${component.name}"></h1>
                        <p class="product-ttx" th:utext="${component.description.replaceAll('\n', '<br>')}"></p>
                        <p class="product-price" th:text="${component.ComponentPrice} + ' ₽'"></p>
                        <form method="post" action="/addToCart">
<!--                            <input type="hidden" name="category" th:value="cpu">-->
                            <input type="hidden" name="productId" th:value="${component.id}">
                            <button class="quantityOperation" type="button" id="decrement-${component.getId()}">-</button>
                            <input type="number" name="quantity" readonly  min="1" max="10" value="1" th:id="'quantity' + ${component.getId()}">
                            <button class="quantityOperation" type="button" id="increment-${component.getId()}">+</button>
                            <button type="submit">Купить</button>
                        </form>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer th:replace = "~{footer :: footer}"></footer>
 </body>
<script src="java/main.js"></script>
<script src="java/tab.js"></script>
<script src="java/13p.js"></script>
</html>
